@model CreateCourseViewModel
<!-- боковая панель -->
<div class="offcanvas sidebar-nav text-white-50 bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExample">
	<div class="offcanvas-body p-0">
		<nav class="navbar-dark">
			<ul class="navbar-nav">
				<li class="small fw-bold text-uppercase px-3">
					<a asp-area="" asp-controller="Create" asp-action="TitleCreate" class="nav-link">
						<i class="fa-solid fa-plus"></i> Создание курса
					</a>
				</li>

				<hr class="border-white" />
				@if (Model != null && Model.course != null && Model.course.Id != Guid.Empty)
				{
					<li>
						<div class="small fw-bold text-uppercase px-3">
							Содержание
						</div>
						<a class="nav-link ps-5" asp-area="" asp-controller="Create" asp-action="TitleView" asp-route-id="@Model.course.Id">
							<i class="fa-solid fa-house"></i> Главная
						</a>
						<a class="nav-link ps-5" asp-area="" asp-controller="Create" asp-action="StructureCreate" asp-route-id="@Model.course.Id">
							<i class="fa-solid fa-code-branch"></i> Структура
						</a>
						<a class="nav-link ps-5" asp-area="" asp-controller="Create" asp-action="UserListCourse" asp-route-courseId="@Model.course.Id">
							<i class="fa-solid fa-users"></i> Подписки
						</a>
					</li>
					<hr class="border-white" />
				}

				@if (Model != null && Model.structure != null)
				{
					byte i = 1;
					@foreach (CreateModuleViewModel module in Model.structure)
					{
						byte j = 1;
						<li>
							<div class="small fw-bold px-3">
								@(i). @module.module.Title
							</div>
							@foreach (Lesson lesson in module.lessons)
							{
								<a asp-area="" asp-controller="Create" asp-action="ContentCreate" asp-route-id="@lesson.Id" class="nav-link ps-5">
									@(i).@(j++). @lesson.Title
								</a>
							}
							@{
								i += 1;
							}
						</li>
						<hr class="border-white" />
					}

				}

			</ul>
		</nav>
	</div>
</div>